MortageDataSwitch/Connected Services/SubmitStatusService/SubmitStatusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.unifiedplatform/Comcorp.WebServices/SubmitStatusService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.unifiedplatform/Comcorp.WebServices/SubmitStatusService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.unifiedplatform/Comcorp.WebServices/SubmitStatusService">
      <s:element name="GetApplicationStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationStatuses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationStatusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationStatusesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetApplicationStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationStatus" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusesSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationStatuses" />
  </wsdl:message>
  <wsdl:message name="GetApplicationStatusesSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationStatusesResponse" />
  </wsdl:message>
  <wsdl:portType name="SubmitStatusServiceSoap">
    <wsdl:operation name="GetApplicationStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the submit statuses for a single application.</wsdl:documentation>
      <wsdl:input message="tns:GetApplicationStatusSoapIn" />
      <wsdl:output message="tns:GetApplicationStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatuses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the submit statuses for multiple applications.</wsdl:documentation>
      <wsdl:input message="tns:GetApplicationStatusesSoapIn" />
      <wsdl:output message="tns:GetApplicationStatusesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubmitStatusServiceSoap" type="tns:SubmitStatusServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationStatus">
      <soap:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/SubmitStatusService/GetApplicationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatuses">
      <soap:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/SubmitStatusService/GetApplicationStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubmitStatusServiceSoap12" type="tns:SubmitStatusServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationStatus">
      <soap12:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/SubmitStatusService/GetApplicationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatuses">
      <soap12:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/SubmitStatusService/GetApplicationStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubmitStatusService">
    <wsdl:port name="SubmitStatusServiceSoap" binding="tns:SubmitStatusServiceSoap">
      <soap:address location="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmitStatusService.asmx" />
    </wsdl:port>
    <wsdl:port name="SubmitStatusServiceSoap12" binding="tns:SubmitStatusServiceSoap12">
      <soap12:address location="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmitStatusService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>