MortageDataSwitch/Connected Services/SubmissionErrorService/SubmissionErrorsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.unifiedplatform/Comcorp.WebServices/SubmissionErrorsService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.unifiedplatform/Comcorp.WebServices/SubmissionErrorsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.unifiedplatform/Comcorp.WebServices/SubmissionErrorsService">
      <s:element name="GetSubmissionError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubmissionErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubmissionErrorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSubmissionErrorSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubmissionError" />
  </wsdl:message>
  <wsdl:message name="GetSubmissionErrorSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubmissionErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="SubmissionErrorsServiceSoap">
    <wsdl:operation name="GetSubmissionError">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the bank submision error that occured for a specific application.</wsdl:documentation>
      <wsdl:input message="tns:GetSubmissionErrorSoapIn" />
      <wsdl:output message="tns:GetSubmissionErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubmissionErrorsServiceSoap" type="tns:SubmissionErrorsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSubmissionError">
      <soap:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/SubmissionErrorsService/GetSubmissionError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubmissionErrorsServiceSoap12" type="tns:SubmissionErrorsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSubmissionError">
      <soap12:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/SubmissionErrorsService/GetSubmissionError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubmissionErrorsService">
    <wsdl:port name="SubmissionErrorsServiceSoap" binding="tns:SubmissionErrorsServiceSoap">
      <soap:address location="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmissionErrorsService.asmx" />
    </wsdl:port>
    <wsdl:port name="SubmissionErrorsServiceSoap12" binding="tns:SubmissionErrorsServiceSoap12">
      <soap12:address location="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmissionErrorsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>