MortageDataSwitch/Connected Services/LiveRepliesService/LiveRepliesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.unifiedplatform/Comcorp.WebServices/LiveReplyService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.unifiedplatform/Comcorp.WebServices/LiveReplyService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.unifiedplatform/Comcorp.WebServices/LiveReplyService">
      <s:element name="GetLiveRepliesByAppRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLiveRepliesByAppRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLiveRepliesByAppRefResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLiveRepliesByDateRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLiveRepliesByDateRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLiveRepliesByDateRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLiveRepliesByAppRefSoapIn">
    <wsdl:part name="parameters" element="tns:GetLiveRepliesByAppRef" />
  </wsdl:message>
  <wsdl:message name="GetLiveRepliesByAppRefSoapOut">
    <wsdl:part name="parameters" element="tns:GetLiveRepliesByAppRefResponse" />
  </wsdl:message>
  <wsdl:message name="GetLiveRepliesByDateRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetLiveRepliesByDateRange" />
  </wsdl:message>
  <wsdl:message name="GetLiveRepliesByDateRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetLiveRepliesByDateRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="LiveRepliesServiceSoap">
    <wsdl:operation name="GetLiveRepliesByAppRef">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the live replies for the applications listed.</wsdl:documentation>
      <wsdl:input message="tns:GetLiveRepliesByAppRefSoapIn" />
      <wsdl:output message="tns:GetLiveRepliesByAppRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLiveRepliesByDateRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the live replies for the specified date range.</wsdl:documentation>
      <wsdl:input message="tns:GetLiveRepliesByDateRangeSoapIn" />
      <wsdl:output message="tns:GetLiveRepliesByDateRangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LiveRepliesServiceSoap" type="tns:LiveRepliesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLiveRepliesByAppRef">
      <soap:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/LiveReplyService/GetLiveRepliesByAppRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiveRepliesByDateRange">
      <soap:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/LiveReplyService/GetLiveRepliesByDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiveRepliesServiceSoap12" type="tns:LiveRepliesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLiveRepliesByAppRef">
      <soap12:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/LiveReplyService/GetLiveRepliesByAppRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiveRepliesByDateRange">
      <soap12:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/LiveReplyService/GetLiveRepliesByDateRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveRepliesService">
    <wsdl:port name="LiveRepliesServiceSoap" binding="tns:LiveRepliesServiceSoap">
      <soap:address location="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/LiveRepliesService.asmx" />
    </wsdl:port>
    <wsdl:port name="LiveRepliesServiceSoap12" binding="tns:LiveRepliesServiceSoap12">
      <soap12:address location="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/LiveRepliesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>