MortageDataSwitch/Connected Services/SubmitService/SubmitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.unifiedplatform/Comcorp.WebServices/SubmitService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.unifiedplatform/Comcorp.WebServices/SubmitService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.unifiedplatform/Comcorp.WebServices/SubmitService">
      <s:element name="SubmitApplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitApplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitApplicationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitApplicationSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitApplication" />
  </wsdl:message>
  <wsdl:message name="SubmitApplicationSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="SubmitServiceSoap">
    <wsdl:operation name="SubmitApplication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Receives an xml application and submits it to the selected bank.</wsdl:documentation>
      <wsdl:input message="tns:SubmitApplicationSoapIn" />
      <wsdl:output message="tns:SubmitApplicationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubmitServiceSoap" type="tns:SubmitServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitApplication">
      <soap:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/SubmitService/SubmitApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubmitServiceSoap12" type="tns:SubmitServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitApplication">
      <soap12:operation soapAction="http://www.unifiedplatform/Comcorp.WebServices/SubmitService/SubmitApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubmitService">
    <wsdl:port name="SubmitServiceSoap" binding="tns:SubmitServiceSoap">
      <soap:address location="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmitService.asmx" />
    </wsdl:port>
    <wsdl:port name="SubmitServiceSoap12" binding="tns:SubmitServiceSoap12">
      <soap12:address location="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmitService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>